.ct-container .entry-card,.ct-related-posts-items article img{border:4px solid;border-image:linear-gradient(90deg,#ff3c00,#ffbf00) 2}
.ct-container .entry-card img:hover{opacity:.3;}
.entry-card .ct-media-container::before{content:"1080p HD";
    position: absolute;
    right: 0;
    z-index: 1;
    background: #00d0ff;
    background: -moz-linear-gradient(left, #00d0ff 0%, #CBFC01 100%);
    background: -webkit-linear-gradient(left, #00d0ff 0%, #CBFC01 100%);
    background: linear-gradient(to right, #00d0ff 0%, #CBFC01 100%);
    color: #000;
    padding: 3px 10px;
    
	
	font-size: 14px;}

.entries a::after,.ct-related-posts-items a::after{
    content: "▷";
    position: absolute;
    z-index: 1;
    color: #fff;
	font-size:33px;
	opacity:0;
}

.ct-container a:hover::after { top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
	transition:.2s ease-in;
	border:2px solid white;padding: 0px 12px; border-radius:50%;
}
	.alerrt a{color:red}.closebtn{color:red;margin-left:5px;float:right;font-size:24px;line-height:27px;transition:.3s;margin-top:-12px}.closebtn:hover{color:red;cursor:pointer}#iconbtn,#categorybtns{display:flex;flex-wrap:wrap;justify-content:center; gap:4px; text-align:center;color:#000}.topbtn{text-align:center;text-decoration:none;display:inline-block;padding:7px 20px;font-size:14px; transition-duration:0.4s;cursor:pointer;border-radius:15%;text-transform:uppercase; background:#cbfc01;font-size:13px}.topbtn.bollywood{background-color:#44b81a;color:#fff}.topbtn.desijunx{background-color:red;color:#fff}.topbtn.buttontg{background-color:#009de1;text-transform:uppercase;color:#fff}.topbtn.howtodl{background-color:#df9a17;text-transform:uppercase;color:#fff}.lichad .topbtn{padding:10px 20px;font-weight:600;font-size:13px}.lichad .topbtn:hover{color:green}@media screen and (max-width:785px){.lichad .topbtn{display:none}#iconbtn,#categorybtns{justify-content:center;    text-align:center}}.search-form{background:#fff;display:flex;justify-content:space-between; align-items:center;margin:auto;width:90%;border-radius:10px}.search-form .earch-field{padding:9px 20px!important;border:none; background:#fff0; outline:none;font-size:13px;color:greenyellow}.search-form .search-field{background:#fff0;outline:none;border:none}.search-form .search-field:hover{background:#fff0;outline:none;border:none;color:#000}.search-form .search-submit{border:none;background:#cbfc01; padding:10px!important;font-size:17px;font-weight:700;border-radius:0 5px 5px 0;color:#000}.sitelogo{   width:85%;text-align:center}@media only screen and (min-width:484px){.topbtn{padding:9px 20px;margin:6px}.men{display:flex;justify-content:space-between;align-items:center;gap:4px}.men .end-txt{display:none}.sitelogo{width:100%}.end-txt{font-weight:700;text-transform:uppercase;float:left;clear:both;color:#cbfc01}}.sitelogotext{fill:none;stroke-width:2px;stroke-linejoin:round;stroke-dasharray:70px;stroke-dashoffset:0;-webkit-animation:stroke 6s linear infinite;-moz-animation:stroke 6s linear infinite;animation:stroke 6s linear infinite;font-size:4em;text-transform:uppercase}.sitelogotext:nth-child(5n+1){stroke:#009de1;-webkit-animation-delay:-1.2s;-moz-animation-delay:-1.2s;animation-delay:-1.2s}.sitelogotext:nth-child(5n+2){stroke:#cbfc01;-webkit-animation-delay:-2.4s;-moz-animation-delay:-2.4s;animation-delay:-2.4s}.sitelogotext:nth-child(5n+3){stroke:#ff0;-webkit-animation-delay:-3.6s;-moz-animation-delay:-3.6s;animation-delay:-3.6s}.sitelogotext:nth-child(5n+4){stroke:#cbfc01;-webkit-animation-delay:-4.8s;-moz-animation-delay:-4.8s;animation-delay:-4.8s}.text:nth-child(5n+5){stroke:#3aa1bf;-webkit-animation-delay:-6s;-moz-animation-delay:-6s;animation-delay:-6s}@-webkit-keyframes stroke{to{stroke-dashoffset:-400}}@-moz-keyframes stroke{to{stroke-dashoffset:-400}}@keyframes stroke{to{stroke-dashoffset:-400}}.end-txt{font-weight:700;text-transform:uppercase;float:right;clear:both;color:#cbfc01}.bts{width:100%;padding:0!important;margin:0!important}.entry-header .page-title{background:#8BFF0A;background:linear-gradient(to left,#8BFF0A 0%,#00FFFF 100%);-webkit-background-clip:text;-webkit-text-fill-color:#fff0}.downloads-btns-div img{width:23px}.downloads-btns-div a{display:flex;justify-content:center;align-items:center;max-width:300px;height:auto;margin:auto;text-align:center;text-decoration:none;color:#000;font-size:17px;font-weight:700;text-transform:capitalize;background:#cbfc01;padding:10px 20px;border-radius:5px}.topbtn{background:#cbfc01;color:#000}.topbtn{padding:8px 14px;margin:4px}.alerrt{background:whitesmoke;padding:6px 8px;   font-size:16px;margin:10px -15px;border-radius:6px}@media (max-width:600px){.header-search{width:100%}}[data-archive=default] .entry-card .entry-title{margin-top:-10px!important}.bts{display:flex;padding:0!important;margin:15px 0px!important;;flex-wrap:wrap;justify-content:center;gap:8px}.bts li{list-style:none;text-transform:capitalize;}.bts a{color:#000;text-decoration:none;font-size:14px;background:greenyellow;padding:5px 10px;display:inline-block;font-weight:600;border-radius:10% / 50%;}

.emoji{width:16px;}
.downloads-btns-div img{ width: 23px; }.downloads-btns-div a{ display: flex; justify-content: center; align-items: center; max-width: 300px; height: auto; margin: auto; text-align: center; text-decoration: none; color: black; font-size: 17px; font-weight: bold; text-transform: capitalize; background: #cbfc01; padding: 10px 20px; border-radius: 5px; }

.entry-content button{padding:5px 10px;border-radius:4px;	
background: linear-gradient(135deg,#2ea1cf,#ff19d0); color: #fdf8f2;box-shadow: 0px 5px 15px -3px #ccc;font-size: 15px;font-weight: bold;
} 
.entry-content button:hover{box-shadow:none; border-radius:6px; transition:.4s;} 
.emoji{width:18px;}
[data-id="widget-area-1"]{
	width: 100%; 
	max-width: 1200px;
}


